/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
// @import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham";


img {
  width: 75px;
  padding: 5px;
}

p,
a {
  text-align: justify;
  letter-spacing: 2px;
}

.url-padding,
p {
  padding-top: 5px;
  font-size: small;
  white-space: normal;
}

.description-style {
  white-space: normal;
  padding-top: 3px;
  font-size: small;
}
