/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

img {
  width: 75px;
  padding: 5px;
}

p,
a {
  text-align: justify;
  letter-spacing: 2px;
}

.urlPadding,
p {
  padding-top: 10px;
}

.descriptionStyle {
  white-space: normal;
  padding-top: 3px;
}
